div.vertical-timeline-element-content{
	padding: 5px;
	width: 45% !important;
}
/*div.vertical-timeline-element-content>span.vertical-timeline-element-date{
	left: 135% ;
}
.vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date, .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date{
	right: 135% !important;
}
*/